.container-1{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}



.flex-box-container-1{
    border: 1px solid rgb(255, 8, 132);
    display:flex;
    padding: 10;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;


}

.flex-box-container-1 div{
    display:flex;
    padding:10px;
    border: 1px solid black;
    align-items: center;
}

body{
    background-color: lightgoldenrodyellow;
    color: orange;
}

.container-2,.container-3{
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-2,.flex-box-rps{
    display: flex;
    border:1px solid salmon;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
    margin: 10px;

}
